// SCSS mixins

@mixin flexible(){
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-elements {
  @include flexible();
  border: 1px solid gray;
}

//SCSS арифметические операции

p{
  font-size: 10px + 6px
  font-size: $size * 2
  font-size: $size / 2
  font-size: $size - 2px
}